.numberMenu {

  list-style: none;
  position: absolute;

  left: 7.5%;
  top: 7.5%;

}

.numberMenu li {
  background-color: lightgreen;
  width: 30px;
  margin: none;
  display: inline-block;
  border-width: 5px;
  border-style: solid;
  border-color: black;
}



.card {
  width: 500px;
  height: 600px;
  background-color: lightblue;

}

/*.card:hover {
  transform: translate(200px, 150px);
}*/

.card1, .card2, .card3 {
  transition: transform 300ms ease-in-out;
}

.card1.clicked, .card2.clicked, .card3.clicked {
  transform: translate(0, -100vh);
}

/*.card2, .card3 {
  display: none;
}*/

.center-div
{
     margin: 0 auto;
     width: 50vw;
}
