.numberMenu {
  list-style: none;
  position: absolute;
  left: 7.5%;
  top: 7.5%;
}

.numberMenu li {
  background-color: lightgreen;
  width: 30px;
  margin: none;
  display: inline-block;
  border-width: 5px;
  border-style: solid;
  border-color: black;
}

/*.wrapper {
  padding: 100px;
}*/

.artificial-margin {
  height: 15vh;
}

.card {
  width: 500px;
  height: 600px;
  margin-top: 500px;
  transition: transform 400ms ease-in-out;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

/*watch video about  cubic-bezie!!!*/

.animated {
  -webkit-animation-duration: 400ms;
  -webkit-transition-timing-function: ease-in-out;
  animation-duration: 400ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.fadeInUp {
  animation-name: fadeInUp;
}

/*.card:hover {
  transform: translate(200px, 150px);
}*/

.card1 {
  display: none;
  background-color: lightblue;
}

.card2 {
  display: none;
  background-color: pink;
}

.card3 {
  display: none;
  background-color: orange;
}

.card4 {
  display: none;
  background-color: red;
}

.card5 {
  display: none;
  background-color: green;
}

.card6 {
  display: none;
  background-color: pink;
}

.card7 {
  display: none;
  background-color: black;
}


.card1.appear, .card2.appear, .card3.appear, .card4.appear{
  display: block;
}


.card1.fly, .card2.fly, .card3.fly, .card4.fly {
  transform: translate(0, -100vh);
}
/*
.card1.disappear {
  display: none;
}*/

/*.card2, .card3 {
  display: none;
}*/



.card2.clicked {
  display: block;
  /*transform: translate(0, -150vh);*/
}

.card3.clicked {
  display: block;
}

.card4.clicked {
  display: block;
}

.center-div
{
     margin: 0 auto;
     width: 50vw;
}
