/* Coolors Exported Palette - coolors.co/000000-25ced1-ffa035-ffeb3f-2134a0 */

/* HSL */
$color1: hsla(0%, 0%, 0%, 1);
$color2: hsla(181%, 70%, 48%, 1);
$color3: hsla(32%, 100%, 60%, 1);
$color4: hsla(54%, 100%, 62%, 1);
$color5: hsla(231%, 66%, 38%, 1);

/* RGB */
$color1: rgba(0, 0, 0, 1);
$color2: rgba(37, 206, 209, 1);
$color3: rgba(255, 160, 53, 1);
$color4: rgba(255, 235, 63, 1);
$color5: rgba(33, 52, 160, 1);